@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,400i,700,700i|Exo:300,400,400i,500,700,700i');
/*Colour Scheme: #f0df02 GOLD  #de2e30 RED  #fffee9 BEIGE */

/*---------------------------------------BACKGROUND*/

body {
    background-color: #fffee9;
}

/*---------------------------------------/background*/

/*---------------------------------------SPECIAL*/

.tac {
    text-align: center;
}

.cap {
    text-transform: uppercase;
}

.exo {
    font-family: "Exo", sans-serif;
}

.firstcap {
    text-transform: capitalize;
}

.scroll-down-text {
    display: none;
}

.burger-button {
    font-size: 20px;
    color: black;
}

.ddmenu {
    top: 6px;
    right: 24px;
    padding-bottom: 15px;
}


/*---------------------------------------/special*/

/*---------------------------------------HEADER*/

/*---------------------------------------ALERT*/

.top-alert {
    margin-bottom: 0px;
    font-family: "Exo", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.top-alert a {
    text-decoration: none;
    font-weight: 400;
}

/*---------------------------------------/alert*/

/*---------------------------------------BANNER*/

.banner-logo {
    background-color: #fffee9;
    height: 115px;

    color: black;
    font-size: 30px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
}

.banner-logo span h1 {
    font-weight: 700;
}

.banner-logo span p {
    font-weight: 300;
}

/*---------------------------------------/banner*/

/*---------------------------------------NAV*/

/*---------------------------------------BUTTONS*/

.home-button,
.events-button,
.music-button,
.about-button,
.contact-button {
    height: 100px;
    background-color: #de2e30;
    border-left: 2px solid white;
    border-right: 2px solid white;

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

.home-button:hover,
.events-button:hover,
.music-button:hover,
.about-button:hover,
.contact-button:hover {

    height: 100px;
    background-color: #bd2729;
    border-left: 2px solid black;
    border-right: 2px solid black;

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

/*---------------------------------------/buttons*/

.menuitem span {
    color: #f0df02;
    display: block;
    width: 100%;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: "Exo", sans-serif;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
}

#nav {
    margin-bottom: 0px;
    margin-left: 0px;
}

.menuitem .fa {
    color: #f0df02;
    font-size: 25px;
    padding-top: 20px;
}

/*---------------------------------------/nav*/

/*---------------------------------------/header*/

/*---------------------------------------HOME-SECTION*/

/*---------------------------------------MEETTHEMONKEES*/

.meet-monkees .title-meet {
    background-color: #fffee9;
    font-size: 80px;
    font-weight: 700;
    color: black;
    top: 85px;
}

.meet-monkees .title-meet p {
    margin-bottom: 0px;
}

.meet-monkees .first-names p,
.meet-monkees .second-names p {
    margin-top: 25px;
    letter-spacing: 5px;
}

.meet-monkees .first-names,
.meet-monkees .second-names {
    background-color: #fffee9;
    color: black;
    font-size: 50px;
    height: 257px;
    top: 15px;
}

/*.meet-monkees .band-logo-front {
    height: 257px;
    width: 220px;
    background: url(/assets/images/band.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    z-index: 1;
    top: 15px;
    left: 50px;
    border: 2px solid black;
} */

/*---------------------------------------/meetthemonkees*/

/*---------------------------------------/MINI-ABOUT*/

.mini-about {
    padding-top: 15px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.mini-about div .band-image {
    height: 257px;
    background: url(/assets/images/band.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

.about-monkees-text p {
    margin-bottom: 0px;
    margin-top: 115px;
}

.about-monkees-text {
    color: #de2e30;
    background-color: #f0df02;
    font-size: 50px;
    height: 450px;
    top: 15px;
    padding-top: 30px;
}

.about-monkees-para p {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 60px;
}

.about-monkees-para {
    color: #f0df02;
    background-color: #de2e30;
    font-size: 20px;
    height: 450px;
    border-left: solid 3px white;
    border-right: solid 3px white;
    top: 15px;
    overflow-y: auto;
}

.read-more-info-btn {
    margin-top: 15px;
    color: black;

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

.read-more-info-btn:hover {
    margin-top: 15px;
    color: white;
    background-color: grey;

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

/*---------------------------------------/mini-about*/

/*---------------------------------------/home-section*/

/*---------------------------------------EVENTS-SECTION*/

.events-page {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    border-top: 2px solid black;
    margin-top: 25px;

}

.events-title {
    padding-top: 15px;
    font-weight: 500;
}

.events-near-you {
    height: 400px;
    background-color: #f0df02;
    color: #de2e30;
    margin-left: 0px;
}

.events-page div .band-image2 {
    height: 257px;
    background: url(/assets/images/cover3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

.events-globally {
    height: 400px;
    background-color: #de2e30;
    color: #f0df02;
}

.events-globally p {
    font-size: 14px;
}

.event-btn {
    margin-bottom: 25px;
}

.events-image {
    height: 400px;
    background-color: #f0df02;
    color: #de2e30;
    margin-right: 0px;
}

.events-image p {
    padding-top: 15px;
    font-size: 25px;
}

.events-page div .band-image3 {
    height: 257px;
    background: url(/assets/images/cover4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

/*---------------------------------------/events-section*/

/*---------------------------------------MUSIC-SECTION*/

.audio-songs a {
    text-decoration: none;
    color: #00d959;
}

.audio-songs a i {
    font-size: 24px;
}

.song-list h5 {
    font-size: 24px;
    padding-bottom: 20px;
}

.song-list p {
    padding-bottom: 15px;
    color: #de2e30;
    font-weight: 700;
}

.top-hits .music-video {
    padding: 25px;
    height: auto;
    width: auto;
}

.music-video-smaller {
    padding: 25px;
    padding-top: 30px;
}

.top-hits {
    background-color: #de2e30;
    margin-top: 20px;
    padding: 10px;
    border-bottom: 2px solid white;
}

.audio-songs {
    color: #de2e30;
    background-color: #f0df02;
}

/*---------------------------------------/music-section*/

/*---------------------------------------ABOUT-SECTION*/

.about-page .who-we-are .dj-image {
    height: 200px;
    background: url(/assets/images/davy-jones.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

.about-page .who-we-are .mn-image {
    height: 200px;
    background: url(/assets/images/michael-nesmith.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

.about-page .who-we-are .md-image {
    height: 200px;
    background: url(/assets/images/mikey-dolenz.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

.about-page .who-we-are .pt-image {
    height: 200px;
    background: url(/assets/images/peter-tork.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

.davy,
.michael,
.mikey,
.peter {
    height: 600px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
}

.davy img,
.michael img,
.mikey img,
.peter img {
    border: 1px solid black;
    border-radius: 100px;
    margin-bottom: 10px;
}

.who-we-are {
    color: #de2e30;
    background-color: #f0df02;
    margin-top: 20px;
    border-top: 2px solid black;
}

.who-are-we-text {
    color: #f0df02;
    background-color: #de2e30;
    padding: 10px;
    line-height: 2em;
    letter-spacing: 1px;
    height: 200px;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 5px;
}

/*---------------------------------------/about-section*/

/*---------------------------------------CONTACT-SECTION*/

form {
    color: #de2e30;
    background-color: #f0df02;
    padding: 20px;
    border-radius: 20px;
}

.select-ratings {
    color: grey;
}

/*---------------------------------------/contact-section*/

/*---------------------------------------FOOTER*/

.footer {
    color: black;
    background-color: #fffee9;
    border-top: 3px solid black;
}

/*---------------------------------------CONTACT-FOOTER*/

.contact-us-footer {
    padding-top: 25px;
}

.contact-us-footer a {
    text-decoration: none;
    color: black;
}

/*---------------------------------------/contact-footer*/

/*---------------------------------------COPYRIGHT*/

.copyright {
    padding-top: 25px;
}

/*---------------------------------------/copyright*/

/*---------------------------------------SOCIAL-LINKS*/

.social-links {
    padding-bottom: 15px;
    padding-top: 15px;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 6px 0px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
}

.social-links li a i:hover {
    color: lightblue;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a {
    color: white;
}

/*---------------------------------------/social-links*/

/*---------------------------------------/footer*/

/*---------------------------------------MODALS*/

.eventsmodaltext {
    line-height: 40px;
}

/*---------------------------------------/modals*/

/*---------------------------------------MEDIA*/

@media (max-width: 1612px) {
    .meet-monkees .title-meet {
        background-color: #fffee9;
        font-size: 60px;
        font-weight: 700;
        color: black;
        top: 85px;
    }
}

@media (max-width: 1480px) {
    .meet-monkees .first-names,
    .meet-monkees .second-names {
        background-color: #fffee9;
        color: black;
        font-size: 30px;
        height: 257px;
        top: 55px;
    }
}

@media (max-width: 1280px) {
    .meet-monkees .band-logo-front {
        background: url();
        background-color: #fffee9;
    }
}

@media (max-width: 1180px) {
    .about-monkees-text {
        color: #de2e30;
        background-color: #f0df02;
        font-size: 50px;
        height: 450px;
        top: 15px;
        padding-top: 90px;
    }
    .about-monkees-text p {
        margin-bottom: 0px;
        margin-top: 25px;
    }
}

@media (max-width: 880px) {
    .events-globally p {
        font-size: 12px;
    }
}

@media (max-width: 766px) {
    .events-globally p {
        font-size: 18px;
    }
    .events-near-you {
        height: 400px;
        margin-left: 0px;
    }
    .meet-monkees .title-meet {
        display: none;
    }
    .social-links li a i {
        width: 24px;
        height: 24px;
        padding: 6px 0px;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        color: #fafafa;
        background: #8f8f8f;
    }
    .scroll-down-text {
        display: block;
    }
    .banner-logo span h1 {
        font-size: 62px;
    }
    .banner-logo span p {
        font-size: 22px;
    }
    .meet-monkees .band-logo-front {
        display: none;
    }
    .home-button,
    .events-button,
    .music-button,
    .about-button,
    .contact-button {
        height: 100px;
        background-color: #de2e30;
        border: 2px solid white;
    }
    .home-button:hover,
    .events-button:hover,
    .music-button:hover,
    .about-button:hover,
    .contact-button:hover {
        height: 100px;
        background-color: #bd2729;
        border-left: 2px solid black;
        border-right: 2px solid black;

        transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -webkit-transition: all .35s ease-in-out;
    }
    .about-monkees-para {
        color: black;
        background-color: #de2e30;
        font-size: 20px;
        height: 275px;
        top: 15px;
    }
}

@media (max-width: 740px) {
    .meet-monkees .first-names,
    .meet-monkees .second-names {
        font-size: 20px;
    }
}

@media (max-width: 732px) {
    .events-globally p {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .events-globally button {
        font-size: 10px;
    }
}

@media (max-width: 484px) {
    .events-near-you h3 {
        font-size: 15px;
    }
    .events-globally h3 {
        font-size: 18px;
    }
}

@media (max-width: 452px) {
    .events-page {
        margin-top: 85px;
    }
    #contact-form form {
        margin-top: 95px;
    }
    .music-video-smaller {
        padding: 25px;
        padding-top: 110px;
    }
    .who-we-are {
        color: #de2e30;
        background-color: #f0df02;
        margin-top: 100px;
    }
}

@media (max-width: 372px) {
    .events-globally {
        height: 400px;
    }
    .events-near-you {
        height: 400px;
    }
}

@media (max-width: 306px) {
    .who-we-are {
        color: #de2e30;
        background-color: #f0df02;
        margin-top: 110px;
    }
}

/*.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
}*/

/*---------------------------------------/media*/
