@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,400i,700,700i|Exo:300,400,400i,500,700,700i');


/*---------------------------------------BACKGROUND*/

body {
    background-color: grey;
}

/*---------------------------------------/background*/

/*---------------------------------------SPECIAL*/

.tac {
    text-align: center;
}

.cap {
    text-transform: uppercase;
}

.exo {
    font-family: "Exo", sans-serif;
}

.firstcap {
    text-transform: capitalize;
}

/*---------------------------------------/special*/

/*---------------------------------------HEADER*/

/*---------------------------------------ALERT*/

.top-alert {
    margin-bottom: 0px;
    font-family: "Exo", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.top-alert a {
    text-decoration: none;
    font-weight: 700px;
}

/*---------------------------------------/alert*/

/*---------------------------------------BANNER*/

.banner-logo {
    background-color: grey;
    height: 115px;

    color: white;
    font-size: 30px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
}

.banner-logo span h1 {
    font-weight: 700;
}

/*---------------------------------------/banner*/

/*---------------------------------------NAV*/

/*---------------------------------------BUTTONS*/

/*---------------------------------------HOME-BUTTON*/

.home-button {
    height: 100px;
    background-color: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.home-button:hover {

    height: 100px;
    background-color: #b18540;
    border-left: 2px solid black;
    border-right: 2px solid black;

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

/*---------------------------------------/home-button*/

/*---------------------------------------EVENTS-BUTTON*/

.events-button {
    height: 100px;
    background-color: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.events-button:hover {
    height: 100px;
    background-color: #b18540;
    border-left: 2px solid black;
    border-right: 2px solid black;

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

/*---------------------------------------/events-button*/

/*---------------------------------------MUSIC-BUTTON*/

.music-button {
    height: 100px;
    background-color: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.music-button:hover {
    height: 100px;
    background-color: #b18540;
    border-left: 2px solid black;
    border-right: 2px solid black;

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

/*---------------------------------------/music-button*/

/*---------------------------------------ABOUT-BUTTON*/

.about-button {
    height: 100px;
    background-color: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.about-button:hover {
    height: 100px;
    background-color: #b18540;
    border-left: 2px solid black;
    border-right: 2px solid black;

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

/*---------------------------------------/about-button*/

/*---------------------------------------CONTACT-BUTTON*/

.contact-button {
    height: 100px;
    background-color: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.contact-button:hover {
    height: 100px;
    background-color: #b18540;
    border-left: 2px solid black;
    border-right: 2px solid black;

    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

/*---------------------------------------/contact-button*/

/*---------------------------------------/buttons*/

.menuitem span {
    color: white;
    display: block;
    width: 100%;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: "Exo", sans-serif;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
}

#nav {
    margin-bottom: 0px;
    margin-left: 0px;
}

.menuitem .fa {
    color: white;
    font-size: 25px;
    padding-top: 20px;
}

/*---------------------------------------/nav*/

/*---------------------------------------/header*/

/*---------------------------------------SECTION*/

/*---------------------------------------MEETTHEMONKEES*/

.meet-monkees .title-meet {
    background-color: grey;
    font-size: 60px;
    font-weight: 700;
    color: white;
    top: 15px;
}

.meet-monkees .title-meet p {
    margin-bottom: 0px;
}

.meet-monkees .first-names p,
.meet-monkees .second-names p {
    margin-top: 25px;
    letter-spacing: 5px;
}

.meet-monkees .first-names,
.meet-monkees .second-names {
    background-color: grey;
    color: #fafafa;
    font-size: 50px;
    height: 257px;
    top: 15px;
}

/*.meet-monkees .band-logo-front {
    height: 257px;
    width: 220px;
    background: url(/assets/images/band.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    z-index: 1;
    top: 15px;
    left: 50px;
    border: 2px solid black;
} */

/*---------------------------------------/meetthemonkees*/

/*---------------------------------------/MINI-ABOUT*/

.mini-about {
    padding-top: 15px;
}

.about-monkees-text p {
    margin-bottom: 0px;
    margin-top: 25px;
}

.about-monkees-text {
    color: white;
    background-color: black;
    font-size: 50px;
    height: 275px;
    top: 15px;
}

.about-monkees-para p {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 60px;
}

.about-monkees-para {
    color: white;
    background-color: black;
    font-size: 20px;
    height: 275px;
    border-left: solid 3px white;
    top: 15px;
}

.read-more-info-btn {
    margin-top: 15px;
    color: black;
}

.read-more-info-btn:hover {
    margin-top: 15px;
    color: white;
    background-color: grey;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

/*---------------------------------------/mini-about*/

/*---------------------------------------/section*/

/*---------------------------------------FOOTER*/

.footer {
    color: white;
    background-color: grey;
    padding-top: 15px;
    border-top: 3px solid black;
}

/*---------------------------------------CONTACT-FOOTER*/

.contact-us-footer {
    padding-top: 25px;
}

/*---------------------------------------/contact-footer*/

/*---------------------------------------COPYRIGHT*/

.copyright {
    padding-top: 25px;
}

/*---------------------------------------/copyright*/

/*---------------------------------------SOCIAL-LINKS*/

.social-links {
    padding-bottom: 15px;
    padding-top: 15px;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 6px 0px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
}

.social-links li a i:hover {
    color: lightblue;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a {
    color: white;
}

/*---------------------------------------/social-links*/

/*---------------------------------------/footer*/

/*---------------------------------------MEDIA*/

@media (max-width: 1280px) {
    .meet-monkees .band-logo-front {
        background: url();
        background-color: grey;
    }
}

@media (max-width: 766px) {
    .meet-monkees .band-logo-front {
        display: none;
    }
    .home-button {
        height: 100px;
        background-color: #b18540;
        border: 2px solid black;
    }
    .events-button {
        height: 100px;
        background-color: #b18540;
        border: 2px solid black;
    }
    .music-button {
        height: 100px;
        background-color: #b18540;
        border: 2px solid black;
    }
    .about-button {
        height: 100px;
        background-color: #b18540;
        border: 2px solid black;
    }
    .contact-button {
        height: 100px;
        background-color: #b18540;
        border: 2px solid black;
    }
    .about-monkees-para {
        color: white;
        background-color: black;
        font-size: 20px;
        height: 275px;
        top: 15px;
        border: 0px;
    }

}

/*.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
}*/

/*---------------------------------------/media*/
